h1, h2 {
  margin: 0;
}

.name_square {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: yellow;
}

.class_square {
  text-align: center;
  width: 100%;
  letter-spacing: 5px;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.health_full_square {
  display:  flex;
  justify-content: space-between;
  margin: 0 100px;
}

.hp_square {
  border: 2px dashed;
  padding: 10px 20px;
  text-align: center;
  width: 120px;
}

.hp_name {
  display: block;
  font-size: 25px;
}

.hp_value {
  display: block;
  font-size:  32px;
  font-weight: bold;
}

.hp_center {
  display: block;
  font-size: 30px;
  text-align: center;
  margin-top: 15px;

}