<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <div class="name_square">
        <h1>И М Я</h1>
    </div>

    <div class="class_square">
        <h2>Клыкастый Дезертир</h2>
    </div>

    <div class="health_full_square">
        <div class="hp_square">
            <span class="hp_name">CURRENT</span>
            <span class="hp_value">20</span>
        </div>
        <div class="hp_center">
            <span class="hp_center">----      HP      ----</span>
        </div>
        <div class="hp_square">
            <span class="hp_name">MAX</span>
            <span class="hp_value">20</span>
        </div>
    </div>
</body>
</html>